In [1]:
import pandas
from pandas import *
df = DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'], 'key2' : ['one', 'two', 'one', 'two', 'one'],
                'data1' : np.random.randn(5), 'data2' : np.random.randn(5)})
print (df)

      data1     data2 key1 key2
0  1.627278 -0.717975    a  one
1  0.972104 -1.804462    a  two
2  1.117619 -0.804724    b  one
3  1.629913  0.351831    b  two
4  1.139401  1.059197    a  one

In [2]:
### Means of data1 for sub-groups of key1
means = df['data1'].groupby([df['key1']]).mean()
print (means)

key1
a    1.246261
b    1.373766
Name: data1, dtype: float64

In [3]:
### Means of data1 for sub-groups of key1 and key2
means = df['data1'].groupby([df['key1'], df['key2']]).mean()
print (means)

key1  key2
a     one     1.383340
      two     0.972104
b     one     1.117619
      two     1.629913
Name: data1, dtype: float64

In [4]:
### Means of data1 and data2 for sub-groups of key1
means=df.groupby('key1').mean()
print (means)

         data1     data2
key1
a     1.246261 -0.487746
b     1.373766 -0.226447

In [5]:
### Quantile of data1 and data2 for sub-groups of key1
quantile=df.groupby('key1').quantile(0.9).add_prefix('quantile_')
print (quantile)

0.9   quantile_data1  quantile_data2
key1
a           1.529703        0.703763
b           1.578683        0.236175

In [6]:
### Mean of data1 and data2 sub-groups of key1 and key2
means=df.groupby(['key1', 'key2']).mean().add_prefix('mean_')
print (means)

           mean_data1  mean_data2
key1 key2
a    one     1.383340    0.170611
     two     0.972104   -1.804462
b    one     1.117619   -0.804724
     two     1.629913    0.351831

In [7]:
### Summary of data1 and data2 for sub-groups of key1 and key2
summary=df.groupby('key1').describe()
print (summary)

               data1     data2
key1
a    count  3.000000  3.000000
     mean   1.246261 -0.487746
     std    0.340408  1.445645
     min    0.972104 -1.804462
     25%    1.055752 -1.261218
     50%    1.139401 -0.717975
     75%    1.383340  0.170611
     max    1.627278  1.059197
b    count  2.000000  2.000000
     mean   1.373766 -0.226447
     std    0.362246  0.817808
     min    1.117619 -0.804724
     25%    1.245693 -0.515586
     50%    1.373766 -0.226447
     75%    1.501839  0.062692
     max    1.629913  0.351831

In [8]:
### Number of data1 and data2 pairs for sub-groups of key1 and key2
size=df.groupby(['key1', 'key2']).size()
print (size)

key1  key2
a     one     2
      two     1
b     one     1
      two     1
dtype: int64

In [9]:
### Spliting data for sub-groups of key1
for name, group in df.groupby('key1'):
    print (name)
    print (group)

a
      data1     data2 key1 key2
0  1.627278 -0.717975    a  one
1  0.972104 -1.804462    a  two
4  1.139401  1.059197    a  one
b
      data1     data2 key1 key2
2  1.117619 -0.804724    b  one
3  1.629913  0.351831    b  two

In [10]:
### Spliting data for sub-groups of both key1 and key2
for (k1, k2), group in df.groupby(['key1', 'key2']):
    print (k1, k2)
    print (group)

a one
      data1     data2 key1 key2
0  1.627278 -0.717975    a  one
4  1.139401  1.059197    a  one
a two
      data1     data2 key1 key2
1  0.972104 -1.804462    a  two
b one
      data1     data2 key1 key2
2  1.117619 -0.804724    b  one
b two
      data1     data2 key1 key2
3  1.629913  0.351831    b  two